<div id="main_logo">
<h1>영미언어문화학과</h1>
<h2>워크샵 신청 페이지</h2>
</div>
<% if user_signed_in? %>
<div class="row">
    <div class="col-sm-3">    
    </div>
    <div class="col-sm-3">    
        <div class="name_card">
            <p><%=current_user.name%><br>
            <p><%=current_user.studentid%></p>
            <p><%=current_user.phonenum%></p>
            <p><%=current_user.email%></p>
        </div>
    </div>
    <div class="col-sm-3">    
        <div class="name_card">
                <div class="classlist">
                    14:00 ~ 15:00
                    <br>
                    <%=current_user.subone%>
                </div>
                <br>
                <div class="classlist">
                    15:20 ~ 16:20
                    <br>
                    <%=current_user.subtwo%>
                </div>
            </div>
    </div>
    <div class="col-sm-3">    
    </div>
</div>
    
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 cent">
            <a href="/home/stat"><button type="button" class="btn btn-primary btn">신청현황</button></a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 cent">
            <% if current_user.name == '회장만세!'%>
                <h2><a href="/admin/index">[관리자페이지]</a><h2>
            <%end%>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
<% elsif%>

    <div id="main_img">
        <%= image_tag("QQQ.jpg") %>
    </div>
<div id="main_button">
    <a href="/users/sign_up"><button type="button" class="btn btn-outline-primary">회원가입</button></a>
    <a href="/users/sign_in"><button type="button" class="btn btn-outline-primary"> 로그인 </button></a>
</div>
<% end %>


