<h1>[서버상태 : <%= @flag %>]  <a href="/home/index">[뒤로가기]</a></h1>
<h2>내 수업 현황</h2>  

<div class="jumbotron">
  <div class="container text-center">
        
    <h3>학번 : <%=current_user.studentid %></h3>
    
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="enrolled border border-primary">
                    <p>class1 :<br>
                    <%=current_user.subone %><br>
        
                    <% if current_user.subone != "none"%>
                        <a href="/home/quit/1"><button type="button" class="btn btn-danger btn-sm">수업포기</button></a>                 
                    <% end %>
                </div>  
            </div>
            <div class="col">
                <div class="enrolled border border-primary">
                    <p>class2 :<br>
                    <%=current_user.subtwo %><br>
                
                    <% if current_user.subtwo != "none"%>
                        <a href="/home/quit/2"><button type="button" class="btn btn-danger">수업포기</button></a>                 
                    <% end %>
                
                </div> 
            </div>
        </div>
  </div>
</div>
</div>
<div class="jumbotron"> 
<div class="container-fluid bg-3 text-center">    
  <h3>강의목록</h3><br>
  <div class="row">
    <%@sublist.each do |r|%>
    <div class="col-sm-4">
        
      

        <div class=" border border-primary subjects">
            <div class="row">
                <div class="subjects_name_tag">
                    <p>강의이름<br>       <span><%=r.subname%></span></p>
                    <p>강연교수<br>        <span><%=r.subteacher%></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>class1인원<br><span><%=r.substudentone%></span>/<%=r.sublimitone%></p>
                    <% if current_user.subone == r.subname %>
                        <p>[이미 등록됨]</p>
                    <% elsif current_user.subtwo == r.subname %>
                        <p>[이미 등록됨]</p>
                    <% elsif current_user.subone == "none"%>
                        <a href="/home/enrollone/<%=r.id%>"><button type="button" class="btn btn-success btn-sm">신청</button></a> 
                    <% end %>
                </div>
                <div class="col-sm-6">
                    <p>class2인원<br><span><%=r.substudenttwo%></span>/<%=r.sublimittwo%></p>
                    <% if current_user.subone == r.subname %>
                        <p>[이미 등록됨]</p>
                    <% elsif current_user.subtwo == r.subname %>
                        <p>[이미 등록됨]</p>
                    <% elsif current_user.subtwo == "none"%>
                        <a href="/home/enrolltwo/<%=r.id%>"><button type="button" class="btn btn-success btn-sm">신청</button></a>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 subjects_info">
                    <p><a href="#"><button type="button" class="btn btn-info">강의 정보</button></a></p>
                </div>
                <div class="col-sm-4">
                </div>
                
                
            </div>
        
        </div>


    <!--  <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
    </div>
<%end%>

   
  </div>
</div><br>

</div>

