<!DOCTYPE html>
<html>
<head>
  
  <title>워크쉽 신청</title>
  <meta charset="utf-8">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>



<nav class="navbar navbar-dark bg-primary">
  <a href="/home/index"><span class="navbar-text">
      영미언어문화학과 워크샵 신청
  </span></a>
  <form class="form-inline my-2 my-lg-0">
  
  <% if user_signed_in? %>
      <%= link_to "[로그아웃]", destroy_user_session_path, class: "btn btn-outline-success my-2 my-sm-0",method: :delete %> <!-- 세션 판정 후 로그아웃   버튼 만들기-->
  <%end%>
  
  </form>
</nav>
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="col-sm-8 text-left"> 
    <%= yield %>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
      </div>
      <div class="well">
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  <p>© 2017 JEONGHOON LEE ALL RIGHTS RESERVED</p>
</footer>
</body>
</html>